<div class="list-item" data-index="0">
  <div class="thumb">
    <%= image_tag(song.image.url)%>
  </div>
  <div class="title">
    <span><%= song.name %></span>
    <small><%= song.album.artist.name %></small>
  </div>
  <div class="length"><small>2:58</small></div>
</div>
