# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 0fccd96b7804e03c142671c15760a2f93d3ca208b081fc22063e448cd86691448c60dcbd978ceb16c4cc5ed09c2090b6329d12ad485795e9a7cc26305dfc75fd

test:
  secret_key_base: 40cb734cff1ae7f55b88c73940dd0cf6165f102e0b55b81a2bd8849ce8b007c6ea1275b0e7bf8e01766d3ca1c6cf34effe3e02dfd4a37277b3189cdcea36bb04

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
